{% extends 'base.html' %}
{% block Title %}About{% endblock Title %}
{% block AboutActive %}active{% endblock AboutActive %}
{% block body %}
   
    <div class="container-fluid mx-2 my-2">

        <h1 style="text-align:center;font-size:300%;color:black;">MUCH IS YET TO BE UPDATE HERE :)</h1>

        <br>
        <br>
      <h1 style="text-align:center;font-size:300%;color:black;"><mark style="background-color:#ffffe6;color:#000000">About Us</mark></h1>
    <pre>
        <div class="container">
      <p style="font-size:130%;"><i>
Hey !! This is Kush here and I created This YourToDo app .
This website is created as a purpose of understanding the basics of flask
and learn how a website/webapp can be created easily.
Thank you if you had watched this app and I will be glad
if you have any suggestions for it.
I am available there :
<a href="https://github.com/kushnamdev" type="link">Github account</a>
<a href="https://instagram.com/oyeekushh" type="link">Instagram</a>

        <strong>-kush</strong></i></p></pre>    



{% endblock body %}
    
    